<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>People</title>
</head>
<body>
<div>
    <h2>Добавить сотрудника</h2>
    <form method="post" action="/">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="lastname" placeholder="Введите фамилию">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <h3>Редактировать данные сотрудника</h3>
    <form method="post" action="update">
        <input type="text" name="id" placeholder="Введите id">
        <input type="text" name="updname" placeholder="Введите имя">
        <input type="text" name="updlastname" placeholder="Введите фамилию">
        <button type="submit">Обновить</button>
    </form>
</div>
<div>
    <h3>Удалить сотрудника</h3>
    <form method="post" action="delete">
        <input type="text" name="delid" placeholder="Введите id">
        <button type="submit">Удалить</button>
    </form>
</div>
<h3>Список сотрудников</h3>
<div>
    <form method="post" action="find">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>
</div>
<div>
    {{#users}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <span>{{lastname}}</span>
        </div>
    {{/users}}
</div>

</body>
</html>